@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');
.contact_wrapper {
    background-image: url(../assets/contact-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 10% 5% 10%;
    height: 400px;
}

.form {
    display: grid;
    position: relative;
    align-content: space-evenly;
    height: fit-content;
    grid-template-rows: 30% 60% 10%;
    grid-row-gap: 1fr;
    width: 70%;
}

.title {
    display: grid;
    position: relative;
    grid-template-rows: 50% 50%;
}

.title h2 {
    color: #EC6D00;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.title p {
    color: #474747;
}

.inputs {
    display: grid;
    position: relative;
    grid-template-rows: 25% 25% 50%;
    /* grid-template-rows: repeat(1, 1fr); */
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    height: fit-content;
}

.toprow {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
}

.midrow {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
}

.bottomrow {
    display: grid;
    position: relative;
    grid-template-columns: 100%;
}

.bottomrow input {
    border: #1c1c1c solid 1px;
    height: 10vh;
}

.contact {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    align-content: space-between;
}

.contact p {
    font-family: 'Montserrat';
    color: #474747;
    font-size: 18px;
}

.contact button {
    border: 2px #151A2B solid;
    padding: 5% 10%;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Montserrat';
    text-transform: capitalize;
    justify-self: stretch;
    color: #151A2B;
}