.footer {
    display: grid;
    position: relative;
    grid-template-rows: 80% 20%;
    width: 100%;
    background-color: #010821;
}

li {
    color: aliceblue;
    list-style: none;
}

a {
    color: aliceblue;
    text-decoration: none;
}

p {
    color: aliceblue;
}

.row {
    display: grid;
    position: relative;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: fit-content;
}

.col_one {
    display: grid;
    position: relative;
    grid-template-rows: repeat(2, 1fr);
    padding: 5%;
}

.footerlogo h1 {
    color: aliceblue;
}

.footerlogo p {
    color: aliceblue;
}

.description p {
    color: aliceblue;
    word-break: break-all;
}

.social {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
}

.col_two {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    padding: 5%;
}

.mainlink {
    color: #F4A100;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

.copyright {
    display: inline;
    text-align: center;
    padding-bottom: 5%;
}

.copyright p {
    color: aliceblue;
}