@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');
.innovaties_section {
    width: 100%;
    display: block;
    max-width: 100%;
    height: fit-content;
    align-content: center;
}

.innovaties_section::before {
    content: '';
    display: block;
    width: 100%;
    height: 550px;
    background-color: #040F33;
    transform: skew(0deg, 6deg);
    position: absolute;
}

.container {
    position: relative;
    display: grid;
    height: 60vh;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    align-items: stretch;
    margin: 2% 10% 2% 10%;
    padding: 2%;
}

.text {
    position: relative;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-row-gap: 1em;
    align-items: stretch;
    justify-items: start;
    padding: 2%;
    margin: 2%;
}

.quote {
    font-family: 'Montserrat';
}

.quote h3 {
    font-size: 32px;
    color: #EC6D00;
}

.quote p {
    font-size: 21px;
    color: #FCFCFC;
}

.image {
    position: relative;
    background: url(../assets/innovaties.png);
}

.image:before {
    content: '';
    position: absolute;
    float: right;
    left: -30px;
    bottom: 30px;
    border: #EC6D00 solid 4px;
    width: 100%;
    height: 100%;
}