@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');
.navbar {
    position: relative;
    display: grid;
    align-content: stretch;
    grid-template-columns: 30% 40% 30%;
    grid-column-gap: 1em;
    padding: 1% 10% 1% 10%;
    background-color: white;
    height: 100px;
    width: 100%;
}

.logo {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: start;
}

.links {
    position: relative;
    display: grid;
    align-items: center;
    align-content: space-evenly;
    cursor: pointer;
    justify-self: stretch;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.2em;
    color: #040f33;
    padding-inline-start: 0;
}

.links a {
    color: #040f33;
    text-decoration: none;
    text-transform: uppercase;
    justify-self: center;
    margin: 2%;
}

.links a.active {
    color: #F4A100;
}

.links a:hover {
    color: #F4A100;
}

.button {
    float: right;
}

.dropdown {
    color: #040F33;
}

.burger {
    width: 35px;
    height: 5px;
    background-color: aliceblue;
    margin-top: 5px;
}

@media (min-width: 600px) {}

@media (min-width: 1280px) {}