@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');
.container {
    padding: 0% 20% 10% 20%;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 1em;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    display: grid;
    grid-template-rows: 50% 40% 10%;
    border: 1px solid #474747;
}

.person_img {
    position: relative;
    display: grid;
    grid-template-rows: 70% 30%;
    border: 1px solid #474747;
}

.person_name {
    position: relative;
    display: grid;
    grid-template-rows: 70% 30%;
}

.description {
    position: relative;
    display: grid;
    text-align: left;
    word-wrap: break-word;
}

.social_links {
    position: relative;
    display: grid;
    border: 1px solid #474747;
    grid-template-columns: 20% 20% 60%;
}