@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');
body {
    width: 100%;
    min-height: inherit;
    margin: 0;
    padding: 0;
}

.logo {
    float: left;
}

.navbar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.links {
    text-align: justify;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 21px;
    color: #040f33;
}

.links a {
    color: #040f33;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2%;
}

.links a.active {
    color: #F4A100;
}

.links a:hover {
    color: #F4A100;
}